#menu {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  height: 0;
  width: 100%;
  box-shadow: #666 0 0 5px 0;
  background-color: #FFF;
  visibility: hidden;
  transition-duration: .5s;
}

#menu div {
  height: 40px;
  float: left;
  text-align: center;
  transition-duration: .2s;
  cursor: pointer;
}

#menu div:active {
  background-color: #EEE;
}

#menu .add_button {
  background: url('../../img/add.svg') no-repeat center center;   
  background-size: 50% 50%;
}

#menu .lock_button {
  background: url('../../img/lock.svg') no-repeat center center;
  background-size: 50% 50%;
}

#menu .settings_button {
  background: url('../../img/settings.svg') no-repeat center center;
  background-size: 50% 50%;
}