@keyframes containerFlash {
    0% {
        background-color: transparent;
    }
    20% {
        background-color: rgb(150, 0, 0);
    }
    100% {
        background-color: transparent;
    }
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: #FFF;
    background-size: 80px;
    font-size: 16px;
    font-family: 'Calibri';
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

button {
    outline: none;
}

input:focus {
    outline: none;
}

#container {
    position: relative;
    min-height: 100vh;
}

/* for display blink when copy */
#flash {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: containerFlash .5s ease-out;
}

@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    
}